<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
     <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://www....">Home</a><br />
      <a href="http://www..../faq">Questions</a><br />
      <a href="http://www..../news">News</a><br />
      <a href="http://www..../contact">Contact</a><br />
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
